header
	.header_top-line
		.container
			.header-item.header-item-about
				.header-item.header-shipping
					img.heder-top-icon(src="static/img/delivery.png")
					span.heder-top-desc Free shipping
				.header-item.header-original
					img.heder-top-icon(src="static/img/label.png")
					span.heder-desc 100 % ORIGINAL PRODUCTS
			.header-item.header-phone
				img.heder-top-icon(src="static/img/phone.png", alt="phone")
				span.heder-top-desc call us: 020 7848 3510
	.header_middle-line
		.container
			.header-item.heder-enter
				button.main_btn.btn--transparent LOGIN
				button.main_btn.btn--transparent REGISTER
			.header-item.header-item-title
				h1.header-title DREAMY
				span.header-desc ONLINE STORE
			.header-item.hedear-item-cart
				img.cart-icon(src="static/img/cart.png", alt="cart")
				span.cart-text My Cart ( 0 ) : $0
				button.main_btn.btn--blue CHECKOUT
				form.search-form
					input.search-input(type="search" placeholder="Search")
					button.btn-search
	.header-slider
		.header-slider-item
			.container
				p.header-slider-text Woman #[span.small-text Style Collection]  #[span.middle-text SS 2016]
				.btn-group
					button.main_btn.btn--blue-border TAKE A LOOK
					button.main_btn.btn--blue-border SHOP NOW
	include menu



