nav.header-nav
	.container
		li.nav-item
			a.nav-link(href="#") HOME
		li.nav-item
			a.nav-link(href="#") NEW ARRIVALS
		li.nav-item
			a.nav-link(href="#") WOMAN
		li.nav-item
			a.nav-link(href="#") MAN
		li.nav-item
			a.nav-link(href="#") KIDS
		li.nav-item
			a.nav-link(href="#") SHOES
		li.nav-item
			a.nav-link(href="#") accessories
